
*.pyc
Common/Annotations/*
Common/EVALCACHE/annots.pkl
Common/module_test_output/*
Common/test_07_19_dets.pkl
handDetect/test_hand - 副本 (2)/*
handDetect/test_hand - 副本/*
handDetect/test_hand/*
handDetect/test_output/*
ImageTool/1111/*
ImageTool/1111_out/*
ImageTool/112_2018-11-13_02/112_2018-11-13_02_frame_11105.jpg
ImageTool/112_02.mp4
ImageTool/11
ImageTool/RECORD_OUTPUT/*
handDetect/test_output.zip
handDetect/opticalFlow.py
handDetect/model/pose_iter_102000.caffemodel
handDetect/model/pose_deploy.prototxt
handDetect/handDetect.pyproj
handDetect/handDetect.py
handDetect/hand-output-Keypoints1.jpg
ImageTool/test_cv_face.avi
ImageTool/error.txt
pyBoost/imBoost_test_output/*
pyFusion/.AUGTEMP/*
pyCode.VC.db
pyFusion/test_aug/*
pyFusion/log/*
tf_module/2019-02-21_17-58-9/*
tf_module/v0_2019-02-21_17-58-9/*
tf_module/v1_2019-02-21_17-58-9/*
tf_module/video/*
tf_module/v0_2019-02-19_15-38-57_10523.jpg
tf_module/v0_2019-02-21_17-58-9.avi
tf_module/v0_2019-02-21_17-58-9_frame_10285.jpg
tf_module/v1_2019-02-19_15-38-57_10523.jpg
tf_module/v1_2019-02-21_17-58-9.avi
tf_module/v1_2019-02-21_17-58-9_frame_10285.jpg
tf_module/tf_module.zip
pyBoost/pyBoost_test_output/*
.vs/*
tools/test_tools/*
